.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem {
    flex: 1;
    margin: 0 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.featuredTitle {
    font-size: 18px;
    font-weight: 500; 
    color: #101828;  
}

.featuredMoneyContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.featuredMoney {
    font-size: 30px;
    font-weight: 600;
    color: #101828;
}
.featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon {
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIconNegative{
    color: red;
    font-size: 14px;
    margin-left: 5px;
}

.featuredSub {
    color: #667085;
    font-size: 15px;
}